In [1]:
import pandas as pd

# Task 1: Load the dataset into a pandas DataFrame

In [2]:
df = pd.read_csv('sales_data.csv')

# Task 2: Display the first 5 rows of the DataFrame

In [3]:
print("First 5 rows of the DataFrame:")
print(df.head())

First 5 rows of the DataFrame:
   Order ID                     Product  Quantity Ordered  Price Each  \
0    176558        USB-C Charging Cable                 2       11.95
1    176559  Bose SoundSport Headphones                 1       99.99
2    176560                Google Phone                 1      600.00
3    176561            Wired Headphones                 3       11.99
4    176562    Lightning Charging Cable                 1       14.95

  Order Date         City
0  1/22/2023     New York
1  1/23/2023  Los Angeles
2  1/23/2023      Chicago
3  1/24/2023      Houston
4  1/24/2023     New York

# Task 3: Check for any missing values in the dataset

In [5]:
print(df.isnull().sum())
print("\nMissing values in the dataset:")

Order ID            0
Product             0
Quantity Ordered    0
Price Each          0
Order Date          0
City                0
dtype: int64

Missing values in the dataset:

# Task 4: Add a new column Total Sales that multiplies Quantity Ordered by Price Each

In [7]:
df['Quantity Ordered'] = pd.to_numeric(df['Quantity Ordered'], errors='coerce')  # Convert to numeric
df['Price Each'] = pd.to_numeric(df['Price Each'], errors='coerce') 
df['Total Sales'] = df['Quantity Ordered'] * df['Price Each']

# Print the DataFrame with the new Total Sales column
print("\nDataFrame with Total Sales column:")
print(df.head())

DataFrame with Total Sales column:
   Order ID                     Product  Quantity Ordered  Price Each  \
0    176558        USB-C Charging Cable                 2       11.95
1    176559  Bose SoundSport Headphones                 1       99.99
2    176560                Google Phone                 1      600.00
3    176561            Wired Headphones                 3       11.99
4    176562    Lightning Charging Cable                 1       14.95

  Order Date         City  Total Sales
0  1/22/2023     New York        23.90
1  1/23/2023  Los Angeles        99.99
2  1/23/2023      Chicago       600.00
3  1/24/2023      Houston        35.97
4  1/24/2023     New York        14.95

# Task 5: Find the total sales for each city

In [8]:
total_sales_per_city = df.groupby('City')['Total Sales'].sum().reset_index()
print("\nTotal Sales per City:")
print(total_sales_per_city)

Total Sales per City:
            City  Total Sales
0        Chicago      1800.00
1        Houston       835.97
2    Los Angeles       115.35
3       New York        38.85
4  San Francisco      1000.00

# Task 6: Identify the product with the highest total sales

In [9]:
total_sales_per_product = df.groupby('Product')['Total Sales'].sum()
product_with_highest_sales = total_sales_per_product.idxmax()
print("\nProduct with the highest total sales:")
print(product_with_highest_sales)

Product with the highest total sales:
ThinkPad Laptop